{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>David Child Foundation</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
  </head>
  <body>
    <!-- Nav bar -->
    <ul>
      <li style="float:left"><a class="active" href="#"><strong>David Child Foundation</strong></a></li>
      {% if user.is_authenticated %}
      <li><a href="{% url 'logout' %}">Log out</a></li>
      <li><a href="#">Welcome, {{user.last_name}}</a></li>
      {% else %}
      <li><a href="{% url 'login' %}">Log in</a></li>
      {% endif %}
    </ul>

    <div class="testbox">
      <form action="/">
        <h1><strong>David Child Foundation</strong></h1>
        <div class="row">
          <!-- First Column -->
          <div class="column" >
            <h4>Code</h4>
            <input type="text" name="name"/>
            <h4>First Name<span>*</span></h4>
            <input type="text" name="name"/>
            <h4>Why Assist</h4>
            <input type="text" name="name"/>
            <h4>Gender<span>*</span></h4>
            <select>
              <option value="M">M</option>
              <option value="F">F</option>
            </select>
            <h4>Father's Name</h4>
            <input type="text" name="name"/>
            <h4>Mothers Name</h4>
            <input type="text" name="name"/>
            <h4>Brothers</h4>
            <input type="text" name="name"/>
            <h4>Guardian</h4>
            <input type="text" name="name"/>
            <h4>Home Location</h4>
            <input type="text" name="name"/>
            <h4>Grade</h4>
            <input type="text" name="name"/>
            <h4>Picture</h4>
            <input type="file" name="name"/>
          </div>

          <!-- Second Column -->
          <div class="column">
            <h4>Date of Birth</h4>
            <input type="date" name="name"/>
            <h4>Last Name</h4>
            <input type="text" name="name"/>
            <h4>Priority<span>*</span></h4>
              <select>
                <option value=""></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
              </select>
            <h4>Family Religiion</h4>
            <input type="text" name="name"/>
            <h4>Father's Occupation</h4>
            <input type="text" name="name"/>
            <h4>Mother's Occupation</h4>
            <input type="text" name="name"/>
            <h4>Sisters</h4>
            <input type="text" name="name"/>
            <h4>Guardian's Occupation</h4>
            <input type="text" name="name"/>
            <h4>Home Type</h4>
            <input type="text" name="name"/>
            <h4>Favorites</h4>
            <input type="text" name="name"/>
            <h4>Date Commence</h4>
            <input type="date" name="name"/>
          </div>
        </div>
        <div class="btn-block">
          <button type="submit" href="/">Submit</button>
        </div>
      </form>
    </div>
  </body>

</html>